---
- name: Configure macOS machine for development
  hosts: local
  gather_facts: yes

  roles:
    - command_line_tools
    - homebrew_dependencies
    - ruby
    - xcode
    - mint_dependencies # needs Xcode
    - zed
    - git_config
    - ssh_key
    - known_hosts
