---
- name: Configure macOS machine for development
  hosts: local
  gather_facts: yes

  roles:
    - role: command_line_tools
      tags: [command_line_tools, tooling]
    - role: homebrew_dependencies
      tags: [brew, dependencies]
    - role: ruby
      tags: [ruby, dependencies]
    - role: xcode
      tags: [xcode, applications]
    - role: mint_dependencies # needs Xcode
      tags: [mint, dependencies]
    - role: mise_dependencies
      tags: [mise, dependencies]
    - role: zed
      tags: [zed, applications]
    - role: gemini
      tags: [ai, tooling]
    - role: git_config
      tags: [git_config, tooling]
    - role: ssh
      tags: [ssh, tooling]
    - role: known_hosts
      tags: [known_hosts, tooling]
    - role: macos_defaults
      tags: [macos_defaults, macos]
