---
- name: Check if Xcode is installed
  shell: xcodes list | grep "Installed"
  changed_when: xcode_installed.rc == 0
  register: xcode_installed
  tags:
    - xcode

- name: Display Xcode installation status
  debug:
    msg: "Xcode is {{ 'installed' if xcode_installed else 'not installed' }}"
  tags:
    - xcode
    
- name: Install the latest Xcode release
  when: not xcode_installed
  command: xcodes install --latest --aria2 --experimental-unxip --select
  become: yes
  tags:
    - xcode
    - toolchain

- name: Select Xcode toolchain
  when: xcode_installed
  command: xcodes select
  become: yes
  tags:
    - xcode
    - toolchain

- name: Install default Xcode components
  command: xcodebuild -runFirstLaunch
  when: not xcode_installed
  ignore_errors: yes
  tags:
    - xcode
