---
- name: Check if any Xcode is installed
  shell: xcodes list | grep "Installed"
  changed_when: false
  failed_when: false
  register: xcode_installed
  when: xcode_version is not defined

- name: Set fastlane session env
  set_fact:
    fastlane_session: "{{ lookup('env', 'FASTLANE_SESSION') }}"
    verbosity: 2

- block:
    - name: Install and select the given Xcode version
      when: xcode_version is defined
      shell: "xcodes install {{ xcode_version }} --experimental-unxip --use-fastlane-auth --select"
      become: yes
      async: 1800 # 30 mins max
      poll: 15 # check status every 15 seconds
      environment:
        FASTLANE_SESSION: "{{ fastlane_session }}"

    - name: Install and select the latest Xcode release
      when: xcode_version is not defined
      shell: xcodes install --latest --experimental-unxip --use-fastlane-auth --select
      become: yes
      async: 1800 # 30 mins max
      poll: 15 # check status every 15 seconds
      environment:
        FASTLANE_SESSION: "{{ fastlane_session }}"

    - name: Install default Xcode components
      command: xcodebuild -runFirstLaunch
      ignore_errors: yes

  when: fastlane_session

- name: Alert missing fastlane auth env
  debug:
    msg: "The `FASTLANE_AUTH` env var must be set to install Xcode"
  when: not fastlane_session
