---
- name: Ensure .ssh directory exists
  file:
    path: ~/.ssh
    state: directory
    mode: "0700"
  tags:
    - ssh
    - known_hosts

- name: Add GitHub to known_hosts
  shell: |
    if ! grep -q "^github.com" ~/.ssh/known_hosts; then
      ssh-keyscan github.com >> ~/.ssh/known_hosts
    fi
  tags:
    - ssh
    - known_hosts
