---
- name: Check if Command Line Tools are installed
  stat:
    path: /Library/Developer/CommandLineTools
  register: xcode_cli_tools

- name: Install Command Line Tools
  command: xcode-select --install
  when: not xcode_cli_tools.stat.exists
  ignore_errors: yes

- name: Accept Xcode license
  command: xcodebuild -license accept
  become: yes
  when: not xcode_cli_tools.stat.exists
  ignore_errors: yes
