---
# Reference: https://github.com/pietrocaselani/setup-my-mac/blob/master/roles/osx-defaults/files/macos_defaults.sh

# Default variables for macos_defaults
macos_defaults_settings:
  # Dock settings

  # First wipe all apps from the Dock
  - domain: com.apple.dock
    key: persistent-apps
    type: array
    value: ""

  # Add Finder to the Dock
  - domain: com.apple.dock
    key: persistent-apps
    type: array
    value: "<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Finder.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>"

  # Add Messages to the Dock
  - domain: com.apple.dock
    key: persistent-apps
    type: array
    value: "<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Messages.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>"

    # Add AppStore to the Dock
  - domain: com.apple.dock
    key: persistent-apps
    type: array
    value: "<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/AppStore.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>"

    # Add Arc to the Dock
  - domain: com.apple.dock
    key: persistent-apps
    type: array
    value: "<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Arc.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>"

  # Add Warp to the Dock
  - domain: com.apple.dock
    key: persistent-apps
    type: array
    value: "<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Warp.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>"

  # Add Zed to the Dock
  - domain: com.apple.dock
    key: persistent-apps
    type: array
    value: "<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Zed.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>"

  # Add Xcode to the Dock
  # TODO: Make it dynamically add the selected Xcode version (pass as input)
  - domain: com.apple.dock
    key: persistent-apps
    type: array
    value: "<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Xcode-26.1.1.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>"

  # Hide recents
  - domain: com.apple.dock
    key: show-recents
    type: bool
    value: false

  # Finder settings
  # Show hidden files
  - domain: com.apple.finder
    key: AppleShowAllFiles
    type: bool
    value: true

  - domain: com.apple.finder
    key: ShowPathbar
    type: bool
    value: true

  - domain: com.apple.finder
    key: ShowStatusBar
    type: bool
    value: true

  - domain: NSGlobalDomain
    key: AppleShowAllExtensions
    type: bool
    value: true

  # Menu bar settings
  - domain: com.apple.menuextra.battery
    key: ShowPercent
    type: bool
    value: true

  # Login Items
  - domain: com.apple.menuextra.battery
    key: ShowPercent
    type: bool
    value: true

  # Keyboard settings
  - domain: NSGlobalDomain
    key: KeyRepeat
    type: int
    value: 2

  - domain: NSGlobalDomain
    key: InitialKeyRepeat
    type: int
    value: 15

  # Trackpad settings
  - domain: com.apple.driver.AppleBluetoothMultitouch.trackpad
    key: Clicking
    type: bool
    value: true

  - domain: com.apple.mouse.tapBehavior
    key: NSGlobalDomain
    type: int
    value: 1
