- name: Ensure .gemini directory exists
  file:
    path: ~/.gemini
    state: directory
    mode: "0755"

- name: Add mcpServers to gemini settings
  shell: |
    jq 'if .mcpServers == null then .mcpServers = {} else . end | .mcpServers.XcodeBuildMCP = { "command": "npx","args": ["-y","xcodebuildmcp@latest"], "env": { "INCREMENTAL_BUILDS_ENABLED": "true" } }' {{ ansible_env.HOME }}/.gemini/settings.json > {{ ansible_env.HOME }}/.gemini/settings.json.tmp && mv {{ ansible_env.HOME }}/.gemini/settings.json.tmp {{ ansible_env.HOME }}/.gemini/settings.json
