---
# tasks file for homebrew_dependencies
- name: Ensure Homebrew is installed
  stat:
    path: /opt/homebrew/bin/brew
  register: homebrew_check
  tags:
    - homebrew

- name: Display Homebrew installation status
  debug:
    msg: "Homebrew is {{ 'installed' if homebrew_check.stat.exists else 'not installed' }}"
  tags:
    - homebrew

- name: Install Homebrew packages
  homebrew:
    name: "{{ item }}"
    state: present
  loop: "{{ homebrew_packages }}"
  when: homebrew_check.stat.exists
  tags:
    - homebrew
    - packages
