---
- name: Install rbenv
  homebrew:
    name: rbenv
    state: present
  tags:
    - ruby
    - homebrew

- name: Setup shell for rbenv
  shell: eval "$(rbenv init - zsh)"
  tags:
    - ruby

- name: Check if the latest ruby is installed
  shell: rbenv install -l | grep -q "$(rbenv install -l | grep -v '^[[:space:]]*[0-9]' | tail -n 1)"
  register: latest_ruby_installed
  tags:
    - ruby

- name: Install the latest ruby
  shell: rbenv install $(rbenv install -l | grep -v '^[[:space:]]*[0-9]' | tail -n 1)
  when: not latest_ruby_installed
  tags:
    - ruby
